<h1>Listing todos</h1>

<table border="1">
  <thead>
  <tr>
    <td>Title</td>
    <td>Completed</td>
    <td>UserId</td>
    <td>Show</td>
    <td>Edit</td>
    <td>Destroy</td>
  </tr>
  </thead>

  <tbody>
  <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.title %></td>
        <td><%= todo.completed %></td>
        <td><%= todo.user_id %></td>
        <td><%= link_to 'Show', user_todo_path(:id => todo.id) %></td>
        <td><%= link_to 'Edit', edit_user_todo_path(:id => todo.id) %></td>
        <td><%= link_to 'Destroy', user_todo_path(:id => todo.id), :method => :delete%></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Back to users',  users_path%>
<%= link_to 'New todo', new_user_todo_path %>

